<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
</head>
<body style="background-color: powderblue;">
	<h1>Login</h1>
	<form action="#" th:action="@{/api/userservice/users/login}"
		th:object="${users}" method="post">
		<table>
			<tr th:object="${users}">
				<td>UserName:</td>
				<td><input type="text" th:field="*{userName}" id="uname" /></td>
			</tr>
			<tr th:object="${users}">
				<td>Password:</td>
				<td><input type="password" th:field="*{password}"
					id="newpassword" /></td>
			</tr>
			<td><button type="submit" name="Login">Login</button></td>
			</tr>
		</table>
	</form>

</body>
</html>