<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>User Form</title>
<style>
div {
	position: absolute;
	margin-top: 300px;
	margin-left: 45%
}
</style>
</head>
<body style="background-color: powderblue;">
    <h1>User Form</h1>
        <form action="#" th:action="@{/users/userpage}" th:object="${users}" method="post" > 
            <table>
                <tr >
                    <td>*Name:</td>
                    <td><input type="text" th:field="*{userName}" required/></td>
                </tr>
                <tr>
                    <td>*Password:</td>
                    <td><input type="password" th:field="*{password}" required/></td>
                </tr>
                <tr>
                    <td>*Email:</td>
                    <td><input type="email" th:field="*{email}" id="email" required/></td>
                </tr>
                <tr>
                    <td>*Mobile Number:</td>
                    <td><input type="tel" th:field="*{mobilePhone}" required/></td>
                </tr>
                
                <tr>
                    <td><button type="submit" name="Submit">Submit</button></td>
                </tr>
            </table>
        </form>
        </body>
</html>
